body {
  background-color: #ffc0cb;
}

.page-center {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  flex-direction: column;
}

.login {
  border-radius: 8px;
  padding: 15px;
  background-color: white;
}

.label {
  font-size: 1.5rem;
  font-weight: 800;
  margin-bottom: .5rem;
}

.box {
  margin-bottom: .75rem;
}

.btn {
  font-size: 1.5rem;
  width: 100%;
  background-color: #ffc0cb;
  padding: 5px 0;
  border: 0px;
  font-weight: 600;
}

input {
  font-size: 1.5rem;
  line-height: 1.5rem;
}

a {
  text-decoration: none;
  color: rgb(29, 29, 131);
}

a:visited {
  color: inherit;
}